<h1>Average Age: <%= "#{@astronauts.average_age}" %></h1>
<% @astronauts.each do |astronaut| %>
  <p>Name: <%= astronaut.name %></p>
  <p>Age: <%= astronaut.age %></p>
  <p>Job: <%= astronaut.job %></p>
  <% end %>

<h6>Missions:</h6>
<% Mission.alphabetical_missions.each do |mission| %>
  <p><%= mission.title %></p>
<% end %>
